.navbar-mobile {
  @media screen and (min-width: 720px) {
    display: none;
  }
  display: flex;
  //   border: 2px solid red;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  .profile-img-container {
    width: 45px;
    img {
      border-radius: 50%;
      width: 100%;
    }
  }

  .navbar-menu {
    cursor: pointer;
  }

  .nav-logo {
    cursor: pointer;
    width: 200px;

    img {
      width: 100%;
    }
  }
}

.navbar-desktop {
  @media screen and (max-width: 720px) {
    display: none;
  }
  display: flex;
  //   border: 2px solid red;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  .nav-logo {
    width: 200px;
    cursor: pointer;

    img {
      width: 100%;
    }
  }

  .nav-items {
    display: flex;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.nav-item {
  margin: 0 0.5rem;
  cursor: pointer;
  // color: black;

  // &:hover {
  //   font-weight: bold;
  // }
}

.glitch {
  // size: 8.125em;
  // font-family: "Raleway", sans-serif;
  font-weight: 700;
  display: flex;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  text-decoration: none;
  // text-transform: uppercase;

  color: #fff;
  // letter-spacing: 5px;

  &:before,
  &:after {
    display: block;
    content: attr(data-glitch);
    // text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
  }
  &:after {
    color: #f0f;
    z-index: -2;
    // transform: translateY(-24px);
  }
  &:before {
    color: #0ff;
    z-index: -1;
    // transform: translateY(24px);
  }
  &:hover {
    &:before {
      animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 1;
      // transform: translateY(24px);
    }
    &:after {
      animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both 1;
      // transform: translateY(-24px);
    }
  }
}

@media only screen and (max-width: 400px) {
  .glitch {
    font-size: 3em;
  }
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-5px, 5px);
  }
  40% {
    transform: translate(-5px, -5px);
  }
  60% {
    transform: translate(5px, 5px);
  }
  80% {
    transform: translate(5px, -5px);
  }
  to {
    transform: translate(0);
  }
}

.tabs-container {
  max-width: 1270px;
  margin: 0 auto;
}

.event-category-row {
  // border: 2px solid red;
  // width: 80%;

  max-width: 1270px;
  margin: 0 auto;
  &-title {
    margin-left: 3rem;
    font-size: 2rem;
    font-weight: bold;
  }
  &-cards {
    // border: 2px solid orange;
    // width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    // justify-content: space-evenly;
    overflow: auto;
    overflow-y: hidden;
    padding: 0 1rem;
  }
}

// @keyframes slide-color {
//   from {
//     background: none;
//   }
//   to {
//     background: red;
//   }
// }
