.event-container {
  //   background: red;
  padding: 2rem;
  height: 100vh;
  // border: 2px solid yellowgreen;

  @media screen and (max-width: 720px) {
    position: relative;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
  }

  .event-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left-side right-side";
    // border: 2px solid orange;
    height: 100%;
    position: relative;

    @media screen and (max-width: 1180px) {
      grid-template-rows: 1fr 1fr;
      // grid-template-rows: 250px 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
        "right-side"
        "left-side";
      // height: 100vh;
      width: 100vw;
    }
    @media screen and (max-width: 500px) {
      grid-template-rows: 250px 1fr;
    }

    .back-container {
      position: absolute;
      top: 20px;
      left: 20px;
      cursor: pointer;

      @media screen and (max-width: 720px) {
        color: white;
      }
    }

    .left-grid {
      grid-area: left-side;

      // border: 2px solid pink;
      // display: flex;
      // flex-direction: column;
      // align-items: center;

      padding: 2rem;

      @media screen and (max-width: 1180px) {
        padding: 0rem;
      }

      .event-details-grid {
        z-index: 100;
        display: grid;
        // border: 2px solid red;
        height: 100%;
        width: 100%;

        // // position: relative;

        grid-template-rows: 120px 1fr;

        @media screen and (max-width: 1180px) {
          grid-template-rows: 120px 1fr 50px;
        }
        grid-template-areas:
          "eventName"
          "eventDetails";
      }

      .event-title-container {
        grid-area: eventName;
        // border: 2px solid orange;
        // padding: 0.5rem 2rem;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        margin-left: 2rem;
        position: relative;

        .event-title {
          font-size: 2rem;
          font-weight: bold;
        }
        .event-subtitle {
          font-weight: bold;
          font-size: 0.9rem;
          color: grey;
        }
        .event-interested {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 40px;
        }
      }
      .event-description {
        grid-area: eventDetails;
        // border: 2px solid olive;
        // background: rgb(238, 207, 217);

        display: grid;
        grid-template-rows: 60px 1fr;
        grid-template-areas:
          "tabs"
          "content-space";

        .event-tabs {
          grid-area: tabs;
          // border: 2px solid palegreen;
          padding: 0 1.5rem;
          display: flex;

          .event-tab-item {
            flex: 0.33333;
            // border: 2px solid orange;
            margin: 0.5rem 1.5rem;

            @media screen and (max-width: 720px) {
              margin: 0.5rem 0.25rem;
            }
            // border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: 0.1s all ease;

            &.active {
              color: white;
              border-radius: 10px;
              background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
              background: linear-gradient(to right, #ff4b2b, #ff416c);
            }
          }
        }
        .event-content {
          // border: 2px solid purple;
          grid-area: content-space;
          padding: 2rem;
          text-align: justify;
        }
      }
      .event-type,
      .event-date,
      .event-prize {
        display: flex;
        flex: 0.33;
        // border: 2px solid red;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 1rem;
        .event-text {
          padding: 1rem 0;
          // font-size: 1.25rem;
          // font-weight: bold;
        }
      }
      .section-1 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        margin: 1rem auto;
        // border: 2px solid red;

        .event-img-container {
          // margin: 0 1rem;
          border: 2p;
          display: flex;
          flex: 0.333333333;
          align-items: center;
          justify-content: center;

          img {
            width: 70%;
            border-radius: 50%;
          }
        }

        .event-registration {
          span {
            // font-weight: bold;
            font-size: 1rem;
          }
          .reg-text {
            font-size: 2rem;
          }
        }
      }

      .event-register {
        @media screen and (max-width: 720px) {
          position: fixed;
          box-shadow: 0px -8px 8px -10px rgba(0, 0, 0, 0.5);
        }
        // border: 2px solid orange;

        height: 5rem;
        bottom: 0;
        width: 100%;
        display: flex;
        // padding: 0 1rem;
        align-items: center;
        background: white;

        .reg-amt {
          flex: 0.5;
          display: flex;
          flex-direction: column;
          align-items: center;
          // padding-left: 1rem;

          .reg-text {
            font-weight: bold;
            font-size: 2rem;
            // margin-left: 1rem;
            span {
              font-weight: normal;
              font-size: 1rem;
            }
          }
        }
        .reg-btn-container {
          flex: 0.5;
          display: flex;
          // border: 2px solid black;
          align-items: center;
          justify-content: center;

          .reg-btn {
            cursor: pointer;
            border: 0;
            // background: var(--oc-btn-colour);
            background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
            background: linear-gradient(to right, #ff4b2b, #ff416c);
            padding: 1rem 2rem;
            border-radius: 50px;
            color: white;
            // font-weight: bold;
            font-size: 1.1rem;
          }
        }
      }
    }

    .right-grid {
      grid-area: right-side;
      // border: 2px solid orange;
      .img-container {
        height: 100%;
        img {
          max-width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
