.event-container {
  //   background: red;
  padding: 2rem;
  height: 100vh;
  // border: 2px solid yellowgreen;

  @media screen and (max-width: 720px) {
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
  }

  .event-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left-side right-side";
    // border: 2px solid orange;
    height: 100%;
    position: relative;

    @media screen and (max-width: 720px) {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
        "right-side"
        "left-side";
      min-height: 100vh;
      width: 100vw;
    }

    .back-container {
      position: absolute;
      top: 20px;
      left: 20px;
      cursor: pointer;

      @media screen and (max-width: 720px) {
        color: white;
      }
    }

    .left-grid {
      grid-area: left-side;
      // border: 2px solid pink;
      display: flex;
      flex-direction: column;
      align-items: center;

      padding: 2rem;

      @media screen and (max-width: 720px) {
        padding: 0rem;
      }

      .event-header {
        font-size: 2rem;
        margin: 1rem;
        font-weight: bold;
      }

      .event-desc {
        font-size: 0.9rem;
        color: gray;
        margin: 1rem 3rem;
      }
      .event-img-container {
        // margin: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 70%;
          border-radius: 50%;
        }
      }
      .event-type,
      .event-date,
      .event-prize {
        display: flex;
        flex: 0.33;
        // border: 2px solid red;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 1rem;
        .event-text {
          padding: 1rem 0;
          // font-size: 1.25rem;
          // font-weight: bold;
        }
      }

      .section-1 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        margin: 1rem 0;

        .event-registration {
          span {
            // font-weight: bold;
            font-size: 1rem;
          }
          .reg-text {
            font-size: 2rem;
          }
        }
      }
      .register-btn {
        // margin-top: 2rem;
        font-size: 1rem;
        cursor: pointer;
        // border: 2px solid ;
        // background-color: #a4508b;
        // background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
        background-color: hsl(212, 100%, 21%);

        padding: 1rem 2rem;
        color: white;
        // font-weight: bold;
        border-radius: 8px;
      }
    }

    .right-grid {
      grid-area: right-side;

      .img-container {
        height: 100%;
        img {
          max-width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
