.navbar-mobile {
  @media screen and (min-width: 720px) {
    display: none;
  }
  display: flex;
  //   border: 2px solid red;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  .navbar-menu {
    cursor: pointer;
  }

  .nav-logo {
    cursor: pointer;
    width: 200px;

    img {
      width: 100%;
    }
  }
}

.navbar-desktop {
  @media screen and (max-width: 720px) {
    display: none;
  }
  display: flex;
  //   border: 2px solid red;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  .nav-logo {
    width: 200px;
    cursor: pointer;

    img {
      width: 100%;
    }
  }

  .nav-items {
    display: flex;

    .nav-item {
      margin: 0 0.5rem;
      cursor: pointer;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.tabs-container {
  max-width: 1270px;
  margin: 0 auto;
}

.event-category-row {
  // border: 2px solid red;
  // width: 80%;

  max-width: 1270px;
  margin: 0 auto;
  &-title {
    margin-left: 3rem;
    font-size: 2rem;
    font-weight: bold;
  }
  &-cards {
    // border: 2px solid orange;
    // width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    // justify-content: space-evenly;
    overflow: auto;
    overflow-y: hidden;
    padding: 0 1rem;
  }
}

// @keyframes slide-color {
//   from {
//     background: none;
//   }
//   to {
//     background: red;
//   }
// }
