// .main_wrapper {
//   overflow: hidden;
// }

.scroll-container {
  scroll-snap-type: mandatory; /* for older browsers */
  scroll-snap-points-y: repeat(100vh); /* for older browsers */
  scroll-snap-type: y mandatory;
  // height: 100vh;
  height: calc(100vh - 80px);

  overflow: auto;
}

.main-container {
  scroll-snap-align: start;
  width: 100vw;
  height: 91.5vh;
  border: 2px solid orange;

  min-height: calc(100vh - 80px);
  @media screen and (max-width: 720px) {
  }
  position: relative;
  padding: 2rem;

  // cross browser
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @media screen and (max-width: 720px) {
    padding: 0.5rem;
    // padding-bottom: 5rem;
  }
}

.maintain-width {
  max-width: 1200px;
  margin: 0 auto;
}

.full-height {
  height: 100vh;
}

.marker {
  position: absolute;
  background-color: rgb(23, 40, 73);
  height: 200px;
  width: 200px;
  top: 0;
  border-radius: 50%;
}

.section-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;

  @media screen and (max-width: 720px) {
    font-size: 2rem;
  }
}
