.modal-grid {
  display: grid;
  // margin: 2rem;

  @media screen and (max-width: 720px) {
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "one"
      "two";
  }
  @media screen and (min-width: 720px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "one two";
  }
  height: 100%;

  .section-one {
    grid-area: one;
    //   border: 2px solid yellowgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    div {
      font-weight: bold;
      font-size: 2rem;
    }

    input {
      padding: 0.5rem;
      margin: 1rem 0;
    }

    button {
      cursor: pointer;
      background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
      background: linear-gradient(to right, #ff4b2b, #ff416c);
      border-radius: 50px;
      padding: 1rem 3rem;
      border: 1px solid white;
      color: white;
      // font-weight: 600;
      font-size: 1.1rem;
    }
  }

  .section-two {
    grid-area: two;
    //   border: 2px solid dodgerblue;
    background-color: hsl(350, 100%, 93%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
    background: linear-gradient(to right, #ff4b2b, #ff416c);
    //   display: none;
    h1 {
      color: white;
    }

    input {
      padding: 0.5rem;
      margin: 1rem 0;
    }

    button {
      cursor: pointer;
      background: transparent;
      border-radius: 50px;
      padding: 1rem 1.5rem;
      border: 1px solid white;
      color: white;
      // font-weight: 600;
      font-size: 1.2rem;

      &:active {
        outline: none;
      }
    }

    p {
      font-size: 0.9rem;
      color: white;
      // font-weight: bold;
      text-align: center;
      width: 70%;
      margin-bottom: 1rem;
    }
  }
}

.modal-grid-one {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  padding: 5rem;
  button {
    cursor: pointer;
    background: transparent;
    border-radius: 50px;
    padding: 0.5rem 3.5rem;
    border: 1px solid white;
    color: white;
    // width: 50%;
    // height: 50%;
    // align-items: center;
    // justify-content: center;
    // font-weight: 600;
    font-size: 1rem;

    &:active {
      outline: none;
    }
  }

  p {
    font-size: 0.9rem;
    color: white;
    // font-weight: bold;
    text-align: center;
    width: 70%;
    margin-bottom: 1rem;
  }

  .single-pay-form-div {
    display: grid;
    // max-width: 200px;
    min-width: 300px;
    color: white;
  }
}

.cross-child {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.team-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // border: 2px solid olive;
  height: 100%;
  overflow: auto;

  @media screen and (max-width: 1920px) {
    padding-top: 5.5rem;
    padding-bottom: 1rem;
  }

  h1 {
    margin-bottom: 2rem;

    @media screen and (max-width: 720px) {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
  }

  .team-members {
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;
    // border: 2px solid orange;
    width: 100%;
    padding: 1rem;

    .team-member-items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // border: 2px solid red;
      // box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
      box-shadow: 5px 5px 15px rgba(60, 94, 145, 0.3);
      border-radius: 12px;
      padding: 0.75rem 1rem;
      margin: 0.5rem 0;
      @media screen and (min-width: 720px) {
        width: 55%;
      }
      width: 100%;

      .items-info {
        flex: 0.9;

        flex-direction: column;
        @media screen and (max-width: 720px) {
          flex: 0.85;
          flex-direction: column;
        }
        // border: 2px solid dodgerblue;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .team-member-item-name {
          margin-left: 1rem;
          font-weight: bold;
        }
      }

      .team-member-item-img-container {
        flex: 0.1;
        @media screen and (max-width: 720px) {
          flex: 0.15;
        }
        // width: 30px;
        // border: 2px solid red;
        // padding: 1rem;
        @media screen and (max-width: 720px) {
          // width: 55%;
          // width: 0px;
        }
        img {
          width: 100%;
          border-radius: 50%;
        }
      }
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // border: 2px solid #25d366;
    // padding: 1rem 2rem;
    // border-radius: 6px;

    cursor: pointer;
    border: 0;
    // background: var(--oc-btn-colour);
    // background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
    background: #1eb159;
    // background: linear-gradient(to right, #ff4b2b, #ff416c);
    padding: 1rem 2rem;
    border-radius: 50px;
    color: white;
    // font-weight: bold;
    font-size: 1.1rem;

    @media screen and (max-width: 720px) {
      padding: 0.5rem 1rem;
      // margin-bottom: 10rem;
    }
  }
}

.payment-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  p {
    // width: 70%;
    text-align: center;
    margin: 2rem 0;
    // border: 2px solid dodgerblue;
  }

  .payment-title {
    display: flex;
    align-items: center;

    .payment-img-container {
      width: 50px;
      margin-right: 1rem;
      img {
        width: 100%;
        border-radius: 50%;
      }
    }
    h1 {
      @media screen and (max-width: 720px) {
        font-size: 1.5rem;
      }
    }
  }

  .team-details-btn {
    cursor: pointer;
    border: 0;
    // background: var(--oc-btn-colour);
    // background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
    background: #1eb159;
    // background: linear-gradient(to right, #ff4b2b, #ff416c);
    padding: 1rem 2rem;
    border-radius: 50px;
    color: white;
    // font-weight: bold;
    font-size: 1.1rem;
  }
}

.payment-success-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;

  .reg-btn {
    margin-bottom: 1rem;
    cursor: pointer;
    border: 0;
    // background: var(--oc-btn-colour);
    background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
    background: linear-gradient(to right, #ff4b2b, #ff416c);
    padding: 1rem 2rem;
    border-radius: 50px;
    color: white;
    // font-weight: bold;
    font-size: 1.1rem;
  }
}

.form-btn-div {
  display: grid;
  // border-radius: 2px solid red;
  // width: 50%;
  // height: 100px;
  align-items: center;
  justify-content: center;
}
