.tabs-component {
  //   max-width: 800px;
  margin: auto;
  background: var(--white);
  //   padding: 40px;
  border-radius: var(--border-radius);
  padding: 1rem;
  //   width: 100%;
  //   box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
}

.tab-links {
  padding: 0;
  // border: 2px dodgerblue solid;
  margin: 0 auto 20px;
  list-style: none;
  // max-width: 500px;
  display: flex;
  justify-content: space-between;
}

.tab {
  position: relative;
}

.tab a {
  text-decoration: none;
  color: var(--black);
}

.tab::before {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.2;
  position: absolute;
  border-radius: var(--border-radius);
  background: none;
  transition: background 0.5s ease;
}

.tab svg {
  height: 30px;
  width: 30px;
  min-width: 30px;
  fill: var(--black);
  transition: fill 0.5s ease;
}

.tab.active::before {
  background: var(--active-color);
}

.tab span {
  font-weight: 700;
  margin-left: 10px;
  transition: color 0.5s ease;
}

.tab.active span {
  color: var(--active-color);
}

.tab.active svg {
  fill: var(--active-color);
}

.tab a {
  padding: 0.5rem;
  display: flex;
  // border: 2px solid dodgerblue;
  align-items: center;
  justify-content: center;
  // justify-content: start;

  font-size: 16px;
  @media screen and (min-width: 720px) {
    font-size: 2rem;
  }
  overflow: hidden;
  position: relative;
}

.cards {
  display: flex;
  flex-wrap: wrap;

  margin-top: 40px;
}

.content-card {
  width: 48%;

  @media screen and (min-width: 720px) {
    width: 33%;
  }
  margin-bottom: 26px;
}

.content-card .info::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  bottom: -5px;
  background: var(--active-color);
  opacity: 0.5;
}

.content-card img {
  border-radius: 6px;
}

.content-card h3 {
  margin: 0 0 5px;
}

.content-card .info {
  padding: 10px 0;
}

.img-icon-container {
  @media screen and (min-width: 720px) {
    width: 60px;
  }
  width: 30px;
  img {
    width: 100%;
    border-radius: 50%;
  }
}
