* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* overflow: hidden; */
  background: #272727;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  background: white;
}

.blah {
  position: absolute;
  /* padding: 100px; */
  height: 90vh;
  /* height: 20px; */
  z-index: 10000;
  top: 0;
}
.center-box {
  /* background-color: red; */

  border: 2px solid red;
  height: 80vh;
  margin: 5rem;
  position: relative;
}

.marker {
  position: absolute;
  background-color: rgb(23, 40, 73);
  height: 200px;
  width: 200px;
  top: 0;
  border-radius: 50%;
}
