* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --threeback: #272727;
}

.main-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  // border: 1px solid orange;
  padding: 2rem;

  // cross browser
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .menu-container {
    position: absolute;
    top: 50%;
    left: 3px;
    cursor: pointer;
  }
}

.marker {
  position: absolute;
  background-color: rgb(23, 40, 73);
  height: 200px;
  width: 200px;
  top: 0;
  border-radius: 50%;
}
