* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --threeback: #272727;
}
